<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit" method="post">
        <table>
            <tr>
                <td>
                    <input type="text" name="homestayName" placeholder="Homestay Name" value="{homestayName}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="city" placeholder="City" value="{city}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="numberBedroom" placeholder="Number Bedroom" value="{numberBedroom}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="price" placeholder="price" value="{price}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="numberToilet" placeholder="Number Toilet" value="{numberToilet}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="description" placeholder="Description" value="{description}">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">EDIT</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>